.task {
    border: 1px solid brown;
    width: 500px;
    margin: auto;
    padding: 15px;
    border-radius: 10px;
}
body {
    font-family: 'Montserrat';
    background: antiquewhite;
}
h1 {
    text-align: center;
}
h2 {
    margin: 0px;
    padding: 0px;
}
p {
    margin: 0px;
    padding: 0px;
}
ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}
li {
    list-style-type: none;
}
footer {
    margin-top: 25px;
    text-align: center;
}
.cent {
    text-align: center;
    padding-bottom: 10px;
}
.matrix tr td {
    border: 1px solid brown;
    width: 50px;
    text-align: center;
}